<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
{% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ settings.DEFAULT_TITLE }}{% endblock %}</title>
        <link rel="awesome" type="text/html" href="http://nb.io/" />
    {% comment %}
        <link rel="icon favicon" href="{% static_url /_s/i/favicon.png %}" />
        <link rel="apple-touch-icon" href="{% static_url /_s/i/touch-icon.png %}" />
    {% block head_links %}
        <link rel="stylesheet" media="screen" href="{% static_url /_s/css/base/screen.css %}" />
    {% endblock %}
    {% endcomment %}
{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="grid"></div>
{% block body %}
        <div id="container">
            <div id="header">
                <div id="header-inner">
    {% block header_h1 %}<h2><a href="/">{{ settings.PRODUCT_NAME }}</a></h2>{% endblock %}
                </div>
            </div>
            <div id="content">
                <div id="content-inner">
    {% block content %}
                <div id="alpha">
        {% block alpha %}
        {% endblock %}
                </div>
                <div id="beta">
        {% block beta %}{% endblock %}
                </div>
    {% endblock %}
                </div>
            </div>
            <div id="footer">
                <div id="footer-inner">
                    <ul id="nav">
                        <li class="about"><a href="{% app_url %}about/">About</a></li>
                        <li class="blog"><a href="{% app_url %}about/blog/">Blog</a></li>
        {% comment %}
                        <li class="twitter"><a href="{% app_url %}about/twitter/" title="Follow us on Twitter">Twitter</a></li>
        {% endcomment %}
                        <li class="contact">{% include 'modules/contact_link.html' %}</li>
                        <li class="last copyright">&copy; {% now "Y" %} <a href="{{ settings.COMPANY_URL }}">{{ settings.COMPANY_NAME }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}
        {% comment %}<script type="text/javascript" src="{% static_url /_s/js/jquery.js %}"></script>{% endcomment %}
        <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("{{ settings.GOOGLE_ANALYTICS_ID }}");
            pageTracker._setDomainName(".{{ settings.DOMAIN_NAME }}");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>
        <script type="text/javascript">
            _qoptions = { qacct: "p-32mOaQsvQX0U-" };
        </script>
        <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
        <noscript><a href="http://www.quantcast.com/p-32mOaQsvQX0U-" target="_blank"><img src="http://pixel.quantserve.com/pixel/p-32mOaQsvQX0U-.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast" /></a></noscript>
    </body>
</html>
