{% extends "base.html" %}

{% block head %}
{{ block.super }}
<meta name="description" content="{{ settings.PRODUCT_NAME }} solves all your problems" />
{% endblock %}

{% block body_class %}home{% endblock %}
{% block header_h1 %}<h1><a href="/">{{ settings.PRODUCT_NAME }}</a></h1>{% endblock %}

{% block body %}
<h1>Tweetly</h1>
    {% comment %}
<p>Twitter client developers, visit the <a href="http://groups.google.com/groups/tweetly/">Tweetly group on Google Groups</a>.</p>
<p>{ &copy; {% now "Y" %} <a href="{{ settings.COMPANY_URL }}">{{ settings.COMPANY_NAME }}</a> }</p>
    {% endcomment %}
{% endblock %}
